<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script defer src="https://kit.fontawesome.com/80331bb8c5.js" crossorigin="anonymous"></script>
</head>
<body>

  <div class="vertical">

    <h2>Add your hitlist entry</h2>
    <p class="lead">So many people to <span class="crossout">stalk</span> network with!</p>

    <form class="vertical" action="/hitlist/addEntry" method="POST">

      <label for="companyName">Company Name</label>
      <input type="text" name="companyName" placeholder="Company Name">

      <label for="dateAdded">Date Added</label>
      <input type="date" name="dateAdded">

      <label for="url">URL</label>
      <input type="text" name="url" placeholder="Enter URL">

      <label for="rolePosition">Role/Position</label>
      <input type="text" name="rolePosition" placeholder="Enter Role/Position">

      <label for="typeOfPosition">Type of position</label>
      <input type="text" name="typeOfPosition" placeholder="Enter Type of position">

      <label for="source">Source</label>
      <input type="text" name="source" placeholder="Enter Source">

      <button type="submit" class="btn">Submit</button>
    </form>
  </div>

</body>
</html>