<%- include('./layout/header.ejs') -%> 

    <h1>Login or Signup to help track your HUNT!</h1>
    <div class="wrapper vertical">
        <a class="btn" href="/login"> Login</a>
        <a class="btn" href="/signup"> Signup</a>
    </div>

<%- include('./layout/header.ejs') -%> 
